.menu{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item{
  margin: 30px 60px;
  text-decoration: none;
  color: #B33771;
}

.item:hover{
  color: #6D214F;
  font-weight: 500;
  margin: 0px 59.5px;
}

.left{
  display: inline-flex;
  justify-content: left;
  align-items: top;
  position: relative;
  padding: 1rem;
}
