.menu{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0rem 8rem;
  margin: -3rem 0.5rem;
}

.item{
  margin: 0px 80px;
  text-decoration: none;
  color: #B33771;
}

.item:hover{
  color: #6D214F;
  font-weight: 500;
  margin: 0px 79.5px;
}

.left{
  display: inline-flex;
  justify-content: left;
  align-items: center;
  position: relative;
  padding: 1rem 5rem;
}
