body {
  background: linear-gradient(to bottom, #f7f1e3 40%, #d1ccc0, #2c2c54);
  min-height: 97.5vh;
  overflow-y: hidden;
}

.text{
  display: block;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: blueviolet;
  margin: 15rem 15rem 2rem;
}

.text:hover{ 
  color: orange; 
}
